name: Release Packages
on:
  release:
    types: 
      - released
jobs:
  release-to-pypi:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: install requirements for python3
        run: pip3 install -r requirements-3.txt
      - name: package and upload python3
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
          PYTHON_DATEMATH_VERSION: ${{ github.event.release.tag_name }}
        run: |
          python3 setup.py sdist bdist_wheel
          twine upload dist/*