name: Unit Tests
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  tests-python3:
    runs-on: ubuntu-20.04 # this should probably get updated to a python 3.9+ image
    steps:
      - uses: actions/checkout@v2
      - name: print python version
        run:  python3 --version
      - name: install requirements
        run: pip3 install -r requirements-3.txt
      - name: run the tests
        run: python3 tests.py 
      - name: verify type hints
        run: mypy datemath
      - name: verify package install
        run: python3 setup.py install --user
